html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px green solid;
    height: 100dvh;
    width: auto;
    flex-wrap: wrap;
}

.left-main
{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 1px red dotted;
    height: 100%;
    width: auto;
}

.left-main > img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.credit
{
    position: absolute;
    color: white;
    font-size: .75rem;
    align-self: flex-end;
    margin-bottom: 15px;
}

.right-main
{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px blue dashed;
    flex-grow: 1.75;
}

.form-container
{
    display: flex;
    width: 100%;
    flex-direction: column;
    
    border: 1px red solid;
    height: 400px;
    
    
}

input
{
    width: 265px;
    height: 28px;
    border-radius: 3px;
}


.form-container form
{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px pink solid;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    margin-left: 50px;
}

form div
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label-top,
.form-label-mid,
.form-label-bottom
{
   gap: 200px;
   border: 1px blue solid;
}

.form-label-top label:first-child
{
    padding-right: 102px;
}

.form-input-top input:first-child,
.form-input-mid input:first-child,
.form-input-bottom input:first-child
{
    border: 1px blue solid;
    margin-right: 125px;
}


.form-label-mid
{
    border: 1px green solid;
}

.form-label-mid label:first-child
{
    padding-right: 145px;
}

.form-input-mid
{   
    border: 1px green solid;
} 

.form-label-bottom label:first-child
{
    padding-right: 110px;
}



