html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.1;
    width: 100vw;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Kanit';
    src: local('Kanit'), url(./fonts/Kanit/Kanit-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(./fonts/Poppins/Poppins-Light.ttf) format('truetype');
}


*
{
    font-family: 'Poppins','Kanit',sans-serif;
}

p
{
    font-family: 'Poppins';
}


.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
    flex-wrap: wrap;
}

.left-main
{
    display: flex;
    position: relative;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

.logo-container
{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(50, 37, 54, 0.5);
    height: 200px;
    margin-bottom: 500px;
}

.left-main > img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.credit
{
    position: absolute;
    color: white;
    font-size: .75rem;
    align-self: flex-end;
    margin-bottom: 15px;
}

.right-main
{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    flex-grow: 1.75;
    background: #071c2d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1F1C18, #071c2d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #000000, #071c2d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.right-main > p
{
    position: relative;
    width: 700px;
    font-size: 24px;
    margin-left: 50px;
}

.right-main > p:last-of-type
{
    margin-top: 20px;
    margin-bottom: 50px;
}

.form-container
{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 350px;
    background: #8C0018;  /* fallback for old browsers */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 5px;
}

p
{
    color: white;
}

label
{
    color: white;
    font-size: 12px;
}

.form-container p
{
    padding-bottom: 25px;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 20px;
}

input
{
    width: 265px;
    height: 28px;
    border-radius: 3px;
}


.form-container form
{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

a
{
    text-decoration: none;
    color: darkgray;
}

form div
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label-top,
.form-label-mid,
.form-label-bottom
{
   gap: 200px;
}

.form-input-top,
.form-input-mid,
.form-input-bottom
{
    margin-bottom: 25px;
}


.form-input-top input:first-child,
.form-input-mid input:first-child,
.form-input-bottom input:first-child
{
    margin-right: 125px;
    margin-left: 50px;
}

.form-label-top label:first-child,
.form-label-mid label:first-child,
.form-label-bottom label:first-child
{
    margin-left: 50px;
}

.form-label-top label:first-child
{
    padding-right: 128px;
}

.form-label-mid label:first-child
{
    padding-right: 160px;
}

.form-label-bottom label:first-child
{
    padding-right: 135px;
}



